h1 {
  font-weight: 700 !important;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 367px;
  margin: auto;
}
button {
  border: none !important;
  outline: none !important;
  font-size: 20px !important;
  padding: 15px !important;
  color: rgb(235, 235, 238);
  background-color: black;

  border-radius: 20px;
}
